.btn__navbarcolor {
    background-color: blueviolet;
    color: #fff;
}

.g-3 {
    margin-left: 10px;
    margin-right: 10px;
}

.needs-validation {}

.mb-3 {
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 30px;
}


.btn-block {
    margin-left: 31%;
    color: white;
    background-color: #444;
    border-radius: 10px;
    transition: 2.5s;
    width: 100px;
}



.mb-3:hover {
    color: red;
}

.btn-block:hover {
    background-color: aqua;
    color: blue;
}